.stages-section {
  position: relative;
  font-size: 0.6em;
  margin-top: 12px;
  padding: 6px;
  width: 100%;
  background-color: var(--background-color);
  overflow: auto;
}

.stages-names {
  width: 240px;
  height: 100%;
  position: fixed;
  top: 54px;
  left: 20px;
  font-weight: bold;
  font-size: 0.8em;
}

.stage-name {
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  color: var(--color-dark);
}

.stage-line {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-dark);
}

.stage-underline {
  position: absolute;
  left: 0;
  width: 90px;
  border-bottom: 1px dotted var(--color-line);
}

.stages-timelines {
  overflow-x: hidden;
}

.scroll-container {
  position: relative;
  display: block;
  overflow: auto;
  height: max-content;
  width: max-content;
  width: 100%;
}

.concert {
  box-sizing: border-box;
  position: absolute;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-weight: 500;
  padding: 2px;
  border-radius: 3px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.artist-name {
  font-size: .8em;
  color: var(--color-dark);
  line-height: .8em;
  text-align: center;
}
