.top-menu {
  margin: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: end;
  align-items: start;
}

.top-menu-list {
  margin: 0;
  padding: 0;
  border-right: 1px solid var(--color-line);
  list-style: none;
}

.top-menu-list-element {
  border-left: 1px solid var(--color-line);
  padding: 0;
  font-size: 0.75em;
}
.top-menu-list-element a {
  text-decoration: none;
  color: var(--color-dark);
  padding: 0 6px 2px;
  display: block;
}

.top-menu-list-element a:hover {
  color: #06a;
}