:root {
  --color-light: #fff;
  --color: #eee;
  --color-dark: #ddd;
  --color-very-dark: #aaa;
  --color-line: #666;
  --color-link: #06a;
  --background-color-light: #333;
  --background-color: #292929;
  --background-color-dark: #222;
  --background-color-concert: #466018;
}

html {
  background-color: var(--background-color);
  color: var(--color);
}

.App {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 768px) {
  .App {
    margin: 24px;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .App {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .App {
    font-size: 32px;
  }
}

.header-1 {
  font-size: 0.85em;
  margin: 0;
  padding: 0;
  font-weight: bold;
}