.hours-line {
  position: relative;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  font-size: 0.75em;
  color: var(--color-very-dark);
}

.hour {
  width: 59px;
  height: 100%;
  display: inline-block;
  border-right: 1px dotted var(--background-color-light);
}
